<link rel="stylesheet" type="text/css" href="/public/css/style.css" />

<div class="d-flex justify-content-between">
    <h1 class="mt-4">Dashboard</h1>
    <div class="left">
        <div class="d-flex justify-content-sm-center"><p class="btn btn-dark">User</p> 
                
               <a href="/users/logout" class="btn btn-light"> Logout</a></div>
    </div>
    
</div>
<p class="lead mb-3">Welcome <%= user.name %>
</p>

<p class="lead mb-3">My Courses</p>

<iframe width="500" height="295" src="https://www.youtube.com/embed/BsDoLVMnmZs" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<iframe width="500" height="295" src="https://www.youtube.com/embed/rZ41y93P2Qo" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>


    